/*
 * GENERAL STYLES
 */

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', arial;
    height: 100%;
    margin: 0 auto;
}

.container {
    background-image: url(bck.jpg);
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.page {
    padding: 8px;
    min-width: 45em;
    width: 90%;
    max-width: 90em;
    text-align: center;
    margin: 0 auto;
}

.page.login {
    max-width: 50em;
}

.header {
    background-color: #0fb4b4;
    width: 50%;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 0 5px 6px -2px gray;
}

.header h1 {
    padding: 12px 16px 12px 16px;
    display: block;
    color: white;
    margin: 0 auto;
}



.container #logout {
    background-color: #0fb4b46b;
    border-radius: 25px;
    /* border: 1px solid white; */
    font-size: 2em;
    padding: 12px 16px 12px 16px;
    color: #101010;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.greeting {
    font-size: 32px;
    color: #555555;
}

.instruction {
    font-size: 24px;
    color: #333333;
}

#error {
    color: red;
    margin: 32px;
    font-size: 24px;
    font-style: italic;
}


/*
 * LOGIN STYLES
 */

#loginForm {
    border-radius: 4px;
    background-color: #ffffff87;
    margin: 48px 25% 0px 25%;
    padding: 8px 8px 32px 8px;
    box-shadow: 2px 2px 4px gray;
}

#loginForm input {
    padding: 8px;
    margin: 8px 0px 8px 0px;
    border: 1px solid #6699ff;
    width: 80%;
    font-size: 20px;
    border-radius: 4px;
}

#loginForm button {
    margin: 6px 0px 6px 0px;
    font-weight: bold;
}

#loginForm button[type=submit] {
    font-size: 18px;
    border: 1px solid #0099ff;
    border-radius: 2px;
    background-color: #3399ff;
    color: #ffffff;
    padding: 12px;
    width: 85%;
}

#loginForm button[type=submit]:hover {
    background-color: #0099ff;
}


/*
 * ADMIN STYLES
 */

.page.admin {
    display: table;
}

.page.admin .instructions {
    display: inline-block;
    text-align: left;
    width: 45%;
}

.page.admin #registrationForm {
    display: inline-block;
    width: 39%;
}

#registrationForm {
    background-color: #ddddff80;
    border-radius: 2px;
    margin: 0px 3% 0px 3%;
    padding: 32px;
}

#registrationForm input {
    width: 100%;
    margin: 2px 0px 12px 0px;
    padding: 4px;
    border: 1px solid #6699ff;
    font-size: 16px;
    border-radius: 2px;
}

#registrationForm #firstname {
    display: inline-block;
    width: 47%;
    float: left;
}

#registrationForm #lastname {
    display: inline-block;
    width: 47%;
    float: right;
}

#registrationForm label {
    float: left;
    color: #333;
}

#registrationForm button[type=submit] {
    font-size: 18px;
    border: 1px solid #0099ff;
    border-radius: 2px;
    background-color: #3399ff;
    color: #ffffff;
    padding: 12px;
    width: 100%;
}

#registrationForm button[type=submit]:hover {
    background-color: #0099ff;
}


/*
 * USER STYLES
 */


#compose {
    margin: 6px 0px 6px 0px;
    font-weight: bold;
}

#msgcontainer {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.instructions {
    display: inline-block;
    text-align: left;
    width: 45%;
}

h1 {
    padding: 12px 16px 12px 16px;
    text-align: center;
    color: black;
    margin: 0 auto;
}


/*
 * MESSAGE STYLES
 */

label {
    font-family: 'Open Sans', arial font-size: 15px;
    font-weight: bold;
}

#cancel,
#send {
    margin: 4px 0px 6px 2px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

.message {
    cursor: pointer;
    font-weight: bold;
}

.read {
    font-weight: normal;
}

.message:hover {
    background-color: lightgrey;
}

/*
    Messages page styles
*/

.menu{
    text-align: center;
    border: 2px solid teal;
    background-color: rgb(217,217,217);
    width: 150px;
    height: 500px;
    position: relative;
}

#compose{
    border:2px #000099;
    background-color: #00ff00;
    border-radius: 30px;
}

.viewer{
    display: inline;
    background-color: white;
    width: 500px;
    position: absolute;
    right: 150px;
    
}

    .pb-mail-template1 {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid black;
        border-radius: 6px;
        margin-top: 40px;
        height: 90%;
    }
    .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.panel-body {
    padding: 15px;}
    .pb-mail-navbar {
        background: #3e3f3a;
        border: none;
    }
    
    .btn-warning {
        background-color: #f47c3c;
    }
    
 
    
     .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .pb-mail-template1 .form-control {
        display: block;
        width: 100%;
        height: 43px;
        padding: 12px 16px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #3e3f3a;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #dfd7ca;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    #brand {
        color: white;
    }
    
    #btn_email {
        width: 120px;
    }
    
    #inbox_parag {
        font-size: 22px;
        padding: 11px 5px 5px 11px;
        color: #020202;
        font-weight: 600;
        text-align: justify;
    }
  .message_box {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 200%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}

.message_area {
    font-size: 15px;
    text-align: justify
}
.message_id {
    display:none;
}
